<!-- These don't need the html tag because the way views work in handlebars,
these are just partials of what the page is going to include, they are all rendered 
inside a layout which is the main.handlebars file under the folder layouts -->

<div class="row justify-space-between-md">
  <div class="login-card w-50">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <section class="form-group2">
        <div class="form-group2">
          <button class="btn btn-primary" type="submit">login</button>
        </div>
      </section>

    </form>
  </div>
</div>

<script src="./js/login.js"></script>