<!-- These don't need the html tag because the way views work in handlebars,
these are just partials of what the page is going to include, they are all rendered 
inside a layout which is the main.handlebars file under the folder layouts -->

<section class="card w-100">
  <h3 class="card-header">Welcome!</h3>
  <div class="card-body">
 
  <img src="/img/medication Managers.jpg" alt="home">
    <h4 class="card-title">Special title treatment</h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  </div>
</div>
</section>
