<div id="img-container">
  <img src="https://www.medicarerights.org/wp-content/uploads/2023/10/Pills-prescription.png.webp">
</div>
 <!-- <div class="card">
  <div class="card-header">
    Welcome!
</div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">Track your medication with ease.</p>
    <a class="nav-link active"href="/login" class="pages">login</a>
  </div>
</div> -->


